.service {
  min-height: 110vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
.service img{
  width: 70%;
  height: 40vh;
}
